# Dependencies
node_modules/

# Build output
dist/
releases/

# Electron
*.exe
*.dmg
*.AppImage

# Logs
*.log
npm-debug.log*

# Editor directories
.idea/
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

# Environment
.env
.env.local
